<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="PercussionConfig" type="NCI.CMS.Percussion.Manager.Configuration.PercussionConfig, CMSManager" />

    <section name="MigrationEngine" type="MigrationEngine.Configuration.MigrationEngineSection, MigrationEngine" />
    <section name="MungerConfig" type="Munger.Configuration.MungerConfiguration, Munger" />
    <section name="MonikerProviders" type="MonikerProviders.Configuration.MonikerProviderConfiguration, MonikerProviders" />
  </configSections>

  <connectionStrings>
    <add name="${DATABASE_CONNECTION_NAME}" connectionString="${DATABASE_CONNECTION_STRING}" />
  </connectionStrings>

  <MigrationEngine>
    <siteHostName value="DCEGpink.cancer.gov" />
    <Community>
      <add key="site" name="DCEG" />
      <add key="siteAdmin" name="DCEG_Configuration" />
      <add key="ctbAdmin" name="CTBGeneralConfiguration" />
    </Community>
    <monikerStoreProvider value="XMLMonikerStoreProvider" />
  </MigrationEngine>

  <MungerConfig>
    <!-- List of host names which are valid for linking to the target site.
        The "official" host name is identified with the isCanonical="true" attribute.
        If no canonical host name is identified, the first one will be used. -->
    <HostList>
      <add name="dceg.cancer.gov" isCanonical="true" />
    </HostList>


    <!-- Path to subsitute for the content item (a genHome) to use when rewriting
        a link to root (e.g) /homepage -->
    <rootElementPath value="/" />
  </MungerConfig>

  <MonikerProviders>
    <providers>
      <add name="XMLMonikerStoreProvider" type="MonikerProviders.XmlPersistedMonikerProvider" filename="Monikers.xml" />
    </providers>
  </MonikerProviders>

  <PercussionConfig>
    <connectionInfo>
      <protocol value="http" />
      <host value="${PERCUSSION_SERVER_NAME}" />
      <port value="${PERCUSSION_PORT}" />
      <username value="${PERCUSSION_USER}" />
      <password value="${PERCUSSION_PASSWORD}" />
      <community value="DCEG" />
      <siteRootPath value="//Sites/DCEG" />
      <timeout value="100000" />
    </connectionInfo>
  </PercussionConfig>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="4.0.4.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
