<?xml version="1.0" encoding="utf-8" ?>

<!--
   IMPORTANT: This file is for unit testing only and is not intended for deployment!!
-->

<configuration>
  <configSections>
    <section name="MonikerProviders" type="MonikerProviders.Configuration.MonikerProviderConfiguration, MonikerProviders"/>
  </configSections>

  <MonikerProviders>
    <providers>
      <add name="MonikerStoreProvider" type="MonikerProviders.XmlPersistedMonikerProvider" filename="Monikers.xml"/>
    </providers>
  </MonikerProviders>
</configuration>